@model MovieProject.Models.Movie

@{
    ViewBag.Title = "Info";
}

<div class="row">
    <div class="col-3">
        <img src="@Html.DisplayFor(model => model.Url)"/>
    </div>
    <div class="col">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Director)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Director)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReleaseYear)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>
    </div>
</div>

<br />

<div>
    <a href="@Url.Action("AddToCart", "Cart", new {id = Model.Id})" class="btn btn-primary" style="align-content: center">Add To Cart</a>
</div>