@model IEnumerable<MovieProject.Models.Movie>

@{
    ViewBag.Title = "Cart";
}

<div class="row">
    <div class="text-left btn" >
        <a class="btn btn-primary" href="@Url.Action("Browse","Home")">Continue shopping</a>
        @Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-primary" })
    </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="CardBorder text-center">
                <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.Url)" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.ReleaseYear)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Price)</p>
                    <a href="@Url.Action("RemoveFromCart", "Cart", new {id = item.Id})" class="btn btn-primary">Remove</a>
                </div>
            </div>
        }

 </div>

