@model Dictionary<Movie,int>

@using MovieProject.Models

@{
    ViewBag.Title = "Cart";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>
                Title
            </th>
            <th>
                Price
            </th>
            <th>
                #
            </th>

            <th></th>
        </tr>
    </thead>
    @foreach (var cart in Model)
    {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => cart.Key.Url)" style="width:100px; height:130px" class="img-fluid" alt="Responsive image">
            </td>
            <td>
                @Html.DisplayFor(modelItem => cart.Key.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cart.Key.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cart.Value)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteAmount", new { id = cart.Key.Id }) | 
                @Html.ActionLink("Add", "AddAmount", new { id = cart.Key.Id })
            </td>
        </tr>
    }

</table>

<h3>Total Cost: @ViewBag.Sum Kr</h3>

<br />
   
<a href="@Url.Action("CheckOut")" class="btn btn-primary">Checkout</a>

 

 


