@model Dictionary<Movie,int>

@using MovieProject.Models

@{
    ViewBag.Title = "Cart";
}

<table class="table table-hover">
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            Price
        </th>
        <th>
            #
        </th>

        <th></th>
    </tr>

    @foreach (var cart in Model)
    {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => cart.Key.Url)" style="width:100px; height:130px" class="img-fluid" alt="Responsive image">
            </td>
            <td>
                @Html.DisplayFor(modelItem => cart.Key.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cart.Key.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cart.Value)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = cart.Key.Id })
            </td>
        </tr>
    }

</table>


